:root {
    --black: #353b3c;
    --gray: #76949f;
    --rose: #B5838D;
    --cream: #F8F2DC;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.new-task-form,
.new-project-form {
    padding: 5px;
    position: fixed;
    top: 0;
    left: 50%;
    width: 300px;
    display: none;
}

.new-task-form.active,
.new-project-form.active {
    padding: 5px;
    position: fixed;
    top: 20%;
    left: 50%;
    width: 300px;
    display: block;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 10px;
}

fieldset > .form-btns {
    text-align: center;
}

header {
    border-bottom: 1px solid var(--black);
    color: var(--black);
    display: flex;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 10px;
    background-color: var(--white);
    padding-left: 20px;
}

.main-container {
    display: flex;
    height: 100%;
}

.sidebar {
    background-color: var(--white);
    border-right: 1px solid var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    min-width: 350px;
}

.app-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-logo {
    color: var(--black);
    width: 50px;
    height: 50px;
    margin: 10px;
}

.header-selection {
    font-weight: lighter;
    color: var(--gray);
    margin: 10px;
}

.icon-add,
.icon-new,
.icon-delete {
    transition: 250ms;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.icon-add:hover,
.icon-new:hover,
.icon-delete:hover {
    color: red;
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.task-options {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--black);
    padding: 20px;
    padding-bottom: 30px;
    gap: 20px;
}

.projects-container {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.projects-options {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--black);
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.project {
    padding: 0px 15px;
    margin: 5px;
    border: 1px solid var(--gray);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project:hover {
    cursor: pointer;
    background-color: var(--cream);
}

.project.active {
    background-color: var(--rose);
}

.task-button {
    font-size: 1.5em;
    background-color: var(--white);
    color: var(--black);
    border: none;
    border-right: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 10px;
    padding: 10px;
}

.task-button:hover {
    border: none;
    border-top: 1px solid var(--black);
    border-left: 1px solid var(--black);
    box-shadow: inset rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    cursor: pointer;
}

.app-grid {
    display: flex;
    flex-direction: column;
    overflow: auto;
    align-items: center;
    gap: 10px;
    padding: 15px;
}

.task-container {
    display: flex;
    justify-content:space-between;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border: 1px solid var(--black);
    border-radius: 10px;
    background-color: var(--cream);
    color: var(--black);
    width: 500px;
    padding: 15px;
}

.task-checkbox {
    padding: 5px;
}

.task-title {
    font-weight: bold;
    padding: 0px 15px;
}

footer {
    text-align: center;
    padding: 20px;
    margin-top: auto;
    width: 100%;
}